[submodule "prusa3d/SL-LED-PCB"]
	path = prusa3d/SL-LED-PCB
	url = https://github.com/prusa3d/SL-LED-PCB.git
[submodule "prusa3d/SL-USB-PCB"]
	path = prusa3d/SL-USB-PCB
	url = https://github.com/prusa3d/SL-USB-PCB.git
[submodule "prusa3d/SL-PS-PCB"]
	path = prusa3d/SL-PS-PCB
	url = https://github.com/prusa3d/SL-PS-PCB.git
[submodule "prusa3d/SL-UVcoin-sensor-PCB"]
	path = prusa3d/SL-UVcoin-sensor-PCB
	url = https://github.com/prusa3d/SL-UVcoin-sensor-PCB.git
[submodule "prusa3d/SL-CONTROLLER-PCB"]
	path = prusa3d/SL-CONTROLLER-PCB
	url = https://github.com/prusa3d/SL-CONTROLLER-PCB.git
[submodule "prusa3d/CW-01-LED-PCB"]
	path = prusa3d/CW-01-LED-PCB
	url = https://github.com/prusa3d/CW-01-LED-PCB.git
[submodule "prusa3d/MM-control-2.0"]
	path = prusa3d/MM-control-2.0
	url = https://github.com/prusa3d/MM-control-2.0.git
[submodule "prusa3d/MKxS-IR-sensor"]
	path = prusa3d/MKxS-IR-sensor
	url = https://github.com/prusa3d/MKxS-IR-sensor.git
[submodule "prusa3d/CW-CONTROLLER-PCB"]
	path = prusa3d/CW-CONTROLLER-PCB
	url = https://github.com/prusa3d/CW-CONTROLLER-PCB.git
[submodule "prusa3d/IR-MH-sensor-PCB"]
	path = prusa3d/IR-MH-sensor-PCB
	url = https://github.com/prusa3d/IR-MH-sensor-PCB.git
[submodule "prusa3d/Heatbed-Mini-PCB"]
	path = prusa3d/Heatbed-Mini-PCB
	url = https://github.com/prusa3d/Heatbed-Mini-PCB.git
[submodule "prusa3d/Heatbed_MK52_magnetic"]
	path = prusa3d/Heatbed_MK52_magnetic
	url = https://github.com/prusa3d/Heatbed_MK52_magnetic.git
[submodule "prusa3d/MK2mm_Stepper_switch"]
	path = prusa3d/MK2mm_Stepper_switch
	url = https://github.com/prusa3d/MK2mm_Stepper_switch.git
[submodule "prusa3d/PRUSA_Laser_filament_sensor"]
	path = prusa3d/PRUSA_Laser_filament_sensor
	url = https://github.com/prusa3d/PRUSA_Laser_filament_sensor.git
[submodule "prusa3d/Buddy-board-MINI-PCB"]
	path = prusa3d/Buddy-board-MINI-PCB
	url = https://github.com/prusa3d/Buddy-board-MINI-PCB.git
